/* .appContent {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    flex:1;
  } */

  /* .appContent {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  } */
  
  .appItems {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 71rem;
    width: 100%;
  
    justify-content: center;
  }
  
  .profileSection {
      display: flex;
      justify-content: center;
  }

  